.page-container {
  $padding: 25px;
  $page-width: 770px - $padding * 2;
  margin: 25px auto;
  padding: $padding;

  width: 100%;
  min-width: $page-width;
  max-width: $page-width;
  min-height: 500px;

  border: 1px solid black;

  h1 {

  }

  .game-canvas {
    display: block;
    position: relative;
    margin: 0 auto;

    $game-width: $page-width;
    width: $game-width;
    height: $game-width / 16px * 9px;

    border: 1px solid black;
  }
}
